tailwind.config = {
    darkMode: 'class',
    theme: {
        extend: {
            colors: {
                primary: {
                    light: '#4A4A4A', // Gris oscuro
                    button: '#2D2D2D',  // Gris más oscuro
                    dark: '#F9F9F9'
                },
                secondary: {
                    light: '#B0B0B0', // Gris medio
                    dark: '#7D7D7D'  // Gris oscuro
                },
                accent: {
                        light: '#D5D5D5', // Gris claro
                        dark: '#A0A0A0'  // Gris suave
                },
                background: {
                        light: '#F9F9F9', // Gris muy claro
                        dark: '#1E1E1E'  // Gris casi negro
                }
            }
            
        }
    }
}